<!DOCTYPE html>  
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<title>UPS 能源監控看板</title>
<style>
	.block {
		display: inline-block;
	}
	.left {
		min-width: 50%;
	}
	.right {
		min-width: 50%;
		float: right;
	}
</style>
</head>
<body background="../static/images/login_background.jpg"></body>
	<center><H1 >UPS 監控系統登錄畫面</H1></center><br>
	<div class="left block" align = "center">
		-------------------------------------------------------------<br>
		<H3>管理員 的登錄區域</H3><br>
		<H3>帳號 : <input type='text' name='user_id'></H3><br>
		<H3>密碼 : <input type='password' name='user_pwd'></H3><br>
		<div align="center">
			<button type='button'><b>管理者 登錄</b></button>
			<button type='button'><b>管理者 註冊</b></button><br><br>
		</div>
		-------------------------------------------------------------
		<br><br><br><br><br>
	</div>
	<div class="right block" align = "center">
		-------------------------------------------------------------<br>
		<H3>UPS 的登錄區域</H3><br>
		<H3>UPS ID 編號 : <input type='text' name='ups_id'></H3><br>
		<H3>擁有者 密碼 : <input type='password' name='ups_id'></H3><br>
		<div align="center">
			<button type='button'><b>UPS 編號登錄</b></button>
			<button type='button'><b>UPS 編號註冊</b></button><br><br>
		</div>
		-------------------------------------------------------------
		<br><br><br><br><br>
	</div>
	<div align="center">
		<H4>Copyright © Delta Power Solutions 2018</H4>
	</div>
</body>
</html>
