<!DOCTYPE html>  
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<title>UPS 能源監控看板</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
	.block {
		display: inline-block;
	}
	.left {
		min-width: 50%;
	}
	.right {
		min-width: 50%;
		float: right;
	}
</style>
</head>
<body style="background-color:rgba(112, 111, 111, 0.52);">
<div align = "center">
	<br><H1><b>UPS 監控系統登錄畫面</b></H1>
	<img src="../static/images/login_upper.jpg">
	<font color="red"><H2><b>{{user_error}}</b></H2><br></font>
</div>
	
	<form action="" method="POST" class="left block" align="center" >
		<div>
			<H2>-------------------------------------------------------------</H2><br>
			<H2><b>管理員 的登錄區域</b></H2><br>
			<H2><b>帳號 : <input type='text' name='user_id'></b></H2><br>
			<H2><b>密碼 : <input type='password' name='user_pwd'></b></H2><br>
			<div align="center">
				<button type='btn' class="btn-success btn-lg"><b>管理者 登錄</b></button>
				<button type="button" class="btn-secondary btn-lg" onclick="location.href='/user_signup'"><b>管理者 註冊</b></a></button>
			</div>
			<H2>-------------------------------------------------------------</H2>
		</div>
	</form>
	<form  class="right block" align = "center">
		<div>
			<H2>-------------------------------------------------------------</H2><br>
			<H2><b>UPS 的登錄區域</b></H2><br>
			<H2><b>UPS ID 編號 : <input type='text' name='ups_id'></b></H2><br>
			<H2><b>擁有者 密碼 : <input type='password' name='ups_id'></b></H2><br>
			<div align="center">
				<button type='btn' type='btn' class="btn-success btn-lg"><b>UPS 編號登錄</b></button>
			</div>
			<H2>-------------------------------------------------------------</H2>
		</div>
	</form>
	<div align="center">
		<br><H4><b>Copyright © Delta Power Solutions 2018</b></H4>
	</div>
</body>
</html>
