<!DOCTYPE html>  
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<title>UPS 設備內容修改</title>
<style>
</style>
</head>
<body background="../static/images/login_background.jpg">
<form action="" method="POST" name=all_service>
    <div align="center">
      <H1>監控系統UPS設備內容修改</H1>
      ------------------------------------------------------------
      <font color="red"><H3><b>{{ error }}</b></H3></font>
      <H3>UPS 編號 : <input type='text' name='ups_id' placeholder="請輸入需修改資料之設備編號"></H3>
      <H3>管理者 帳號 : <input type='text' name='user_id'></H3>
      <H3>管理者 密碼 : <input type='text' name='user_pwd'></H3>
      <H3>管理 IP 更改 : <input type='text' name='ups_ip' placeholder="--需帶IP及PORT號--"></H3>
      <H3>生產廠區 更改 : <select name="ups_create">
              　<option value="None">-----------請選擇------------</option>
              　<option value="台北廠">台北廠 (S/N 0001 - 1000)</option>
              　<option value="新竹廠">新竹廠 (S/N 1001 - 2000)</option>
              　<option value="苗栗廠">苗栗廠 (S/N 2001 - 3000)</option>
                <option value="台中廠">台中廠 (S/N 3001 - 4000)</option>
                <option value="台南廠">台南廠 (S/N 4001 - 5000)</option>
              </select></H3>
      <H3>設備系列 更改 : 
          <select name="ups_model" size=1 onChange="renew(this.selectedIndex);">
            <option value="None">-----------請選擇------------</option>
            <option value="Agilon_SX">Agilon - SX系列</option>
            <option value="Amplon_SHOOT">Amplon - 射手座系列</option>
            <option value="Amplon_LION">Amplon - 獅子座系列</option>
            <option value="Ultron_HPH">Ultron - HPH系列</option>
            <option value="Ultron_NT">Ultron - NT系列</option>
            <option value="Ultron_DPS">Ultron - DPS系列</option>
            <option value="Modulon_DPH">Modulon - DPH系列</option>
            <option value="Modulon_NH">Modulon - NH系列</option>
            <option value="Modulon_NH+">Modulon - NH-PLUS系列</option>
          </select></H3>
      <script>
          department=new Array();
          department[0]=["請選擇"];	// 設備系列未選擇
          department[1]=["1KVA", "2KVA", "3KVA"];	// Agilon - SX系列
          department[2]=["3KVA", "5KVA", "10KVA"];	// Amplon - 射手座系列
          department[3]=["3KVA", "6KVA", "12KVA"];	 // Amplon - 獅子座系列
          department[4]=["12KVA", "24KVA", "30KVA"];	// Ultron - HPH系列
          department[5]=["30KVA", "50KVA", "100KVA"];	// Ultron - NT系列
          department[6]=["75KVA", "150KVA", "200KVA"];	// Ultron - DPS系列
          department[7]=["180KVA", "240KVA", "300KVA"];	 // Modulon - DPH系列
          department[8]=["300KVA", "450KVA", "500KVA"];	// Modulon - NH系列
          department[9]=["550KVA", "750KVA", "1000KVA"];	// Modulon - NH-PLUS系列
          
          function renew(index){
            for(var i=0;i<department[index].length;i++)
              document.all_service.elements.ups_unit.options[i]=new Option(department[index][i], department[index][i]);	// 設定新選項
              document.all_service.elements.ups_unit.length=department[index].length;	// 刪除多餘的選項
          }
      </script>
      <form name="myForm">
        <H3>額定容量 更改 : 
        <select name="ups_unit" size=1>
          <option value="">請選取設備系列
        </select></H3>
      </form>
          <H3>座落位置 更改 : <input type='text' name='ups_locate'placeholder="--設備信息備註欄--"></H3>
          <input type='checkbox' name='ups_collect'><b>我願意參與台達電能源資料收集</b></input><br><br>
          <button type="button" onclick= "self.location.href = '{{url_for('login')}} '"><b>回到 UPS 設備登入</b></button>
          <button type="button" onclick= "self.location.href = '{{url_for('ups_signup')}} '"><b>前往 UPS 設備註冊</b></button>
          <button class="btn"><b>UPS 設備內容更新</b></button><br><br>
          ------------------------------------------------------------<br>
          <H4>Copyright © Delta Power Solutions 2018</H4>
    </div>
 </form>
</body>
</html>