<!DOCTYPE html>  
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<title>UPS 設備內容修改</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
</style>
</head>
<body background="../static/images/background_long.png">
<form action="" method="POST" name=all_service>
    <div align="center">
      <br><H1><b>監控系統UPS設備內容修改</b></H1>
      <H2><b>--------------------------------------------------------</b></H2>
      <font color="red"><H2><b>{{ error }}</b></H2></font>
      <font color="blue"><H2><b>您的 UPS 編號列表 : {{ msg }}</b></H2></font><br>
      <H2><b>UPS 編號 : <input type='text' name='ups_id' placeholder="請輸入需修改之設備編號"></b></H2><br>
      <H2><b>管理者 帳號 : <input type='text' name='user_id' value={{user_id}} disabled></b></H2><br>
      <H2><b>管理者 密碼 : <input type='password' name='user_pwd'></b></H2><br>
      <H2><b>設備名稱 更改: <input type='text' name='ups_name'></b></H2><br>
      <H2><b>管理 IP 更改 : <input type='text' name='ups_ip' placeholder="--需帶IP及PORT號--"></b></H2><br>
      <H2><b>生產廠區 更改 : <select name="ups_create">
              　<option value="None">-----------請選擇------------</option>
              　<option value="台北分公司">台北分公司</option>
              　<option value="新竹分公司">新竹分公司</option>
              　<option value="苗栗分公司">苗栗分公司</option>
                <option value="台中分公司">台中分公司</option>
                <option value="台南分公司">台南分公司</option>
              </select></b></H2><br>
      <H2><b>設備系列 更改 : 
          <select name="ups_model" size=1 onChange="renew(this.selectedIndex);">
            <option value="None">-----------請選擇------------</option>
            <option value="Agilon_SX">Agilon - SX系列</option>
            <option value="Amplon_SHOOT">Amplon - 射手座系列</option>
            <option value="Amplon_LION">Amplon - 獅子座系列</option>
            <option value="Ultron_HPH">Ultron - HPH系列</option>
            <option value="Ultron_NT">Ultron - NT系列</option>
            <option value="Ultron_DPS">Ultron - DPS系列</option>
            <option value="Modulon_DPH">Modulon - DPH系列</option>
            <option value="Modulon_NH">Modulon - NH系列</option>
            <option value="Modulon_NH+">Modulon - NH-PLUS系列</option>
          </select></b></H2><br>
      <script>
          department=new Array();
          department[0]=["-----請選擇-----"];	// 設備系列未選擇
          department[1]=["1KVA", "2KVA", "3KVA"];	// Agilon - SX系列
          department[2]=["3KVA", "5KVA", "10KVA"];	// Amplon - 射手座系列
          department[3]=["3KVA", "6KVA", "12KVA"];	 // Amplon - 獅子座系列
          department[4]=["12KVA", "24KVA", "30KVA"];	// Ultron - HPH系列
          department[5]=["30KVA", "50KVA", "100KVA"];	// Ultron - NT系列
          department[6]=["75KVA", "150KVA", "200KVA"];	// Ultron - DPS系列
          department[7]=["180KVA", "240KVA", "300KVA"];	 // Modulon - DPH系列
          department[8]=["300KVA", "450KVA", "500KVA"];	// Modulon - NH系列
          department[9]=["550KVA", "750KVA", "1000KVA"];	// Modulon - NH-PLUS系列
          
          function renew(index){
            for(var i=0;i<department[index].length;i++)
              document.all_service.elements.ups_unit.options[i]=new Option(department[index][i], department[index][i]);	// 設定新選項
              document.all_service.elements.ups_unit.length=department[index].length;	// 刪除多餘的選項
          }
      </script>
      <form name="myForm">
        <H2><b>額定容量 更改 : 
        <select name="ups_unit" size=1>
          <option value="">請選取設備系列
        </select></H2></b><br>
      </form>
          <H2><b>座落位置 更改 : <input type='text' name='ups_locate'placeholder="--設備信息備註欄--"></b></H2><br>
          <H2><b><input type='checkbox' name='ups_collect'> 我願意參與台達電能源資料收集</input></b></H2><br>
          <button type="button" class="btn-secondary btn-lg" onclick="location.href='/now/{{user_id}}/{{ups_id}}'"><b>回到 管理頁面</b></a></button>
          <button class="btn-success btn-lg"><b>UPS 設備內容更新</b></button>
          <H2><b>--------------------------------------------------------</b></H2>
          <H4>Copyright © Delta Power Solutions 2018</H4>
    </div>
 </form>
</body>
</html>