<!DOCTYPE html>  
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<title>監控 系統管理員 註冊</title>
<style>
</style>
</head>
<body background="../static/images/login_background.jpg">
<form action="" method="POST">
	<div align="center">
		<H1>監控系統管理員註冊</H1>
        --------------------------------------------------------------<br>
        <font color="red"><H3><b>{{ error }}</b></H3></font>
		<H3>帳號 : <input type='text' name='user_id' placeholder="總位數需小於10位數"></H3>
        <H3>密碼 : <input type='password' name='user_pwd' placeholder="大於8位數需含大寫"></H3>
        <H3>姓名 : <input type='text' name='user_name'placeholder="英文需以 ' - ' 分開"></H3>
        <H3>電話 : <input type='text' name='user_phone'placeholder="0912-345-678"></H3>
        <H3>電子信箱 : <input type='text' name='user_mail'placeholder="Owner@domain.xxx.xx"></H3>
        <input type='checkbox' name='user_collect'><b>我願意參與台達電能源資料收集</b></input><br><br>
        <input type='checkbox' name='user_rule'><b>我已詳細閱讀管理者條文</b></input><br><br>
        <button type="button" onclick= "self.location.href = '{{url_for('login')}} '"><b>回到 管理者 登入</b></button> 
        <button class='btn'><b>管理者 註冊</b></button><br><br>
        --------------------------------------------------------------<br>
        <H4>Copyright © Delta Power Solutions 2018</H4>
    </div>
</form>
</body>
</html>
