<!DOCTYPE html>  
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<title>管理員 資料修改</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
</style>
</head>
<body background="../static/images/background.png">
<form action="" method="POST" name=all_service>
    <div align="center">
      <br><H1><b>監控系統管理員資料修改</b></H1>
      <H2><b>--------------------------------------------------------</b></H2>
      <font color="red"><H2><b>{{ error }}</b></H2><br></font>
      <H2><b>管理者 帳號 : <input type='text' name='user_id' value={{user_id}} disabled></b></H2><br>
      <H2><b>管理者 舊密碼 : <input type='password' name='user_pwd' placeholder="請輸入您上次設置的密碼"></b></H2><br>
      <H2><b>管理者 新密碼 : <input type='password' name='user_new_pwd_A' placeholder="更新密碼請大於8位數需含大寫"></b></H2><br>
      <H2><b>新密碼 雙驗證: <input type='password' name='user_new_pwd_A' placeholder="請再次輸入須更新的密碼"></b></H2><br>
      <H2><b>姓名 更改 : <input type='text' name='user_name'placeholder="英文需以 ' - ' 分開"></b></H2><br>
      <H2><b>電話 更改 : <input type='text' name='user_phone'placeholder="0912-345-678"></b></H2><br>
      <H2><b>電子信箱 更改 : <input type='text' name='user_mail'placeholder="Owner@domain.xxx.xx"></b></H2><br>
      <H2><b><input type='checkbox' name='user_collect'> 我願意參與台達電能源資料收集</input></b></H2><br>
      <button type="button" class="btn-secondary btn-lg" onclick="location.href='/now/{{user_id}}'"><b>回到 管理頁面</b></a></button>
      <button class='btn-success btn-lg'><b>管理者 資料更新</b></button>
      <H2><b>--------------------------------------------------------</b></H2>
      <H4>Copyright © Delta Power Solutions 2018</H4>
    </div>
 </form>
</body>
</html>